SUPABASE_DB_URL=postgresql://postgres.esjhecpcgcvxmfyzzpqa:JaTPGx9aJVeipbak@aws-1-eu-north-1.pooler.supabase.com:5432/postgres
DATABASE_URL=
SECRET_KEY=gigvault-super-secret-key-change-this
APP_ENV=development
DEBUG=true